/docker-vols/pg_data
/docker-vols/redis_0_data
/docker-vols/redis_1_data

/node_modules
/bower_components

/.idea
.project
.classpath
*.launch
.settings/

.DS_Store
Thumbs.db

vendor/*
!vendor/vendor.json

tmp/*
gorm.db
coverage.txt

